%br
.jumbotron
  %h1 A small ruby on rails app for wishpond
%p
  You can go to page 1 to upload images
  = link_to 'Page 1', uploads_path, class: 'btn btn-primary'
%p OR
%p
  Go to page two to see randomly selected images and save them to database manually via ajax
  = link_to 'Page 2', plays_path, class: 'btn btn-primary'
